<clr-main-container>
  <div class="alert alert-app-level alert-info">
    <div class="alert-items">
      <div class="alert-item static">
        <div class="alert-icon-wrapper">
          <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
        </div>
        <span class="alert-text">
          You are not logged in!
        </span>
      </div>
    </div>
  </div>
  <clr-header>
    <div class="branding">
      <a routerLink="/" class="nav-link">
        <clr-icon shape="vm-bug"></clr-icon>
        <span class="title">Home</span>
      </a>
    </div>
    <div class="header-nav">
      <a routerLink="/login" routerLinkActive="active" class="nav-link"><span class="nav-text">Login</span></a>
      <a routerLink="/administration" routerLinkActive="active" class="nav-link"><span class="nav-text">Administration</span></a>
      <a routerLink="/tasks" routerLinkActive="active" class="nav-link"><span class="nav-text">Tasks</span></a>
    </div>
    <div class="header-actions">
      <clr-dropdown>
        <button class="nav-text" clrDropdownTrigger>
          john.doe@vmware.com
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a href="..." clrDropdownItem>Preferences</a>
          <a href="..." clrDropdownItem>Log out</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </clr-header>
  <!-- <nav class="subnav" [clr-nav-level]="1">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" href="#">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Management</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Cloud</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Tenants</a>
      </li>
    </ul>
  </nav> -->
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
    <!-- <nav class="sidenav" [clr-nav-level]="2">
      (sidenav)
    </nav> -->
  </div>
</clr-main-container>
